<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyb.vectortile.dao.VectorTileMapper">

    <resultMap id="baseResultMap"
               type="com.wyb.vectortile.pojo.domain.VectorTileDo">
        <result column="tile" property="tile"/>
    </resultMap>

    <sql id="mercatorTileBound">
        ST_Segmentize(ST_MakeEnvelope(#{tileMinLongitude}, #{tileMinLatitude}, #{tileMaxLongitude},#{tileMaxLatitude},3857),#{segsize})
    </sql>

    <sql id="wgs84TileBound">
        ST_MakeEnvelope(#{tileMinLongitude},#{tileMinLatitude}, #{tileMaxLongitude},#{tileMaxLatitude}, 4326)
    </sql>

    <select id="findByTileCoordinates" resultMap="baseResultMap">
       SELECT ST_AsMVT(MVTGeom.*) AS tile FROM (SELECT ST_AsMVTGeom(ST_Transform(t.geom, 3857),(<include refid="mercatorTileBound"/>)::box2d) AS geom, t.name FROM
        geohash_point t WHERE ST_INTERSECTS(t.geom,ST_Transform(<include refid="mercatorTileBound"/>, 4326))) AS MVTGeom WHERE MVTGeom.geom IS NOT NULL;
    </select>


    <select id="findByWGS84TileCoordinates" resultMap="baseResultMap">
       SELECT ST_AsMVT(MVTGeom.*) AS tile FROM (SELECT ST_AsMVTGeom(t.geom,<include refid="wgs84TileBound"/>) AS geom, t.name FROM geohash_point t WHERE
         ST_INTERSECTS(t.geom, <include refid="wgs84TileBound"/>)) AS MVTGeom WHERE MVTGeom.geom IS NOT NULL;
    </select>
</mapper>