<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'/>
    <title>MapBox矢量瓦片</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css' rel='stylesheet'/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

<div id='map'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoid3libHp1IiwiYSI6ImNrM3gxbWl2ejE0cHMzbXMxZm16a3FpYWIifQ.RflIxz0xYZPUWtjTRiZAFg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 12,
        center: [116.3768, 39.9065]
    });

    map.on('load', function () {
        var city_region_source = {
            type: 'vector',
            tiles: ['http://localhost:9003/api-vectortile/api/mtile/{z}/{x}/{y}.pbf']
        };
        var city_region_layer = {
            'id': 'city_region_id',
            'type': 'fill',
            'source': 'city_region_source',
            'source-layer': 'region',
            'paint': {
                "fill-color": "#00ffff",
                "fill-opacity": 0.5,
                "fill-outline-color": "#ff0000"
            }
        };
        map.addSource('city_region_source', city_region_source);
        map.addLayer(city_region_layer);
    })
</script>
</body>
</html>