<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WGS842瓦片</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/openlayers/4.6.5/ol.css">
</head>
<body>
<div id="map" class="map" style=" width: 100%;height: 100%;font-size: 14px; position: absolute;"></div>
<script type="text/javascript" src="https://cdn.bootcss.com/openlayers/4.6.5/ol-debug.js"></script>
<script>
    function getTdtLayer(lyr) {
        var url = "http://t4.tianditu.com/DataServer?T="+lyr+"&x={x}&Y={y}&L={z}&tk=9fb37f7d888b84de41af517302a0b55c";
        var projection = ol.proj.get("EPSG:4326");
        var projectionExtent = [ -180, -90, 180, 90 ];
        var maxResolution = (ol.extent.getWidth(projectionExtent) / (256 * 2));
        var resolutions = new Array(19);
        for (var z = 0; z < 19; ++z) {
            resolutions[z] = maxResolution / Math.pow(2, z);
        }
        var tileOrigin = ol.extent.getTopLeft(projectionExtent);
        var layer = new ol.layer.Tile({
            extent: [ -180, -90, 180, 90],
            source: new ol.source.TileImage({
                tileUrlFunction: function(tileCoord) {
                    var z = tileCoord[0]+1;
                    var x = tileCoord[1];
                    var y = -tileCoord[2]-1;
                    var n = Math.pow(2, z + 1);
                    x = x % n;
                    if (x * n < 0) {
                        x = x + n;
                    }
                    return url.replace('{z}', z.toString())
                        .replace('{y}', y.toString())
                        .replace('{x}', x.toString());
                },
                projection: projection,
                tileGrid: new ol.tilegrid.TileGrid({
                    origin: tileOrigin,
                    resolutions: resolutions,
                    tileSize: 256
                })
            })
        });
        return layer;
    }
    var projection = new ol.proj.Projection({
        code: 'EPSG:4326',
        units: 'degrees',
        axisOrientation: 'neu'
    });

    //天地图道路图层和注记图层
    var vec_c = getTdtLayer("vec_c");
    var cva_c = getTdtLayer("cva_c");

    var map = new ol.Map({
        controls: ol.control.defaults({
            attribution: false
        }),
        target: 'map',
        layers: [
            vec_c,
            cva_c
        ],
        view : new ol.View({
            projection: projection,
            center: [116.3, 39.9],
            minZoom: 2,
            maxZoom: 18,
            zoom: 13
        })
    });
    var source = new ol.source.VectorTile({
        url: 'http://localhost:9001/api/tile?type=1&z={z}&x={x}&y={y}',
        format: new ol.format.MVT({}),
        projection: projection,
        wrapX: true
    });
    var layer = new ol.layer.VectorTile({
        source: source,
        style: new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: 'rgba(255,0,0,1.0)',
                width: 2
            }),
            fill: new ol.style.Fill({
                color: 'rgba(26,255,104,0.5)'
            })
        })
        // style: new ol.style.Style({
        //     image: new ol.style.Circle({
        //         radius: 7,
        //         fill: new ol.style.Fill({
        //             color: '#ff1a1f'
        //         }),
        //         stroke: new ol.style.Stroke({
        //             color: '#1aff68',
        //             width: 1.5
        //         })
        //     })
        // })
    });
    map.addLayer(layer);
    // let source = new ol.source.Vector();
    // let pointLayer = new ol.layer.Vector({
    //     source: source,
    //     style: new ol.style.Style({
    //         image: new ol.style.Circle({
    //             radius: 7,
    //             fill: new ol.style.Fill({
    //                 color: '#ff1a1f',
    //             }),
    //             stroke: new ol.style.Stroke({
    //                 color: '#1aff68',
    //                 width: 1.5
    //             })
    //         })
    //     })
    // });
    // map.addLayer(pointLayer);
    // let extent = map.getView().calculateExtent();
    // let extent = [110.51333398546716,37.165935129164524,110.51333560440067,37.16593576124282];
    // extent = ol.proj.transformExtent(extent, 'EPSG:3857', 'EPSG:4326');
    // let wkt = 'POLYGON((' + ol.extent.getBottomLeft(extent).join(' ')  + ',' + ol.extent.getBottomRight(extent).join(' ') + ',' + ol.extent.getTopRight(extent).join(' ') + ',' + ol.extent.getTopLeft(extent).join(' ') + ',' + ol.extent.getBottomLeft(extent).join(' ') + '))';
    // let params = {
    //     rows: 20,
    //     columns: 20,
    //     number: 1,
    //     rectangleWKT: wkt
    // };
    // let esc = encodeURIComponent;
    // let queryParams = Object.keys(params).map(k => esc(k) + '=' + esc(params[k])).join('&');
    // let url = 'http://39.98.160.148:6700/gis/api/web/gisextend/filterpoints?' + queryParams;
    // fetch(url).then(response => response.json()).then(data => {
    //     source.clear();
    //     let points = data.data;
    //     let features = [];
    //     points.forEach(point => {
    //         let geometry = (new ol.format.WKT()).readGeometry(point, {
    //             dataProjection: 'EPSG:4326',
    //             featureProjection: 'EPSG:3857'
    //         });
    //         let feature = new ol.Feature({
    //             geometry: geometry
    //         });
    //         features.push(feature);
    //     });
    //     source.addFeatures(features);
    // });
    // map.getView().fit(ol.proj.transformExtent(extent, 'EPSG:4326', 'EPSG:3857'));
    //
    // map.on("moveend", function () {
    //     let extent = map.getView().calculateExtent();
    //     extent = ol.proj.transformExtent(extent, 'EPSG:3857', 'EPSG:4326');
    //     let wkt = 'POLYGON((' + ol.extent.getBottomLeft(extent).join(' ')  + ',' + ol.extent.getBottomRight(extent).join(' ') + ',' + ol.extent.getTopRight(extent).join(' ') + ',' + ol.extent.getTopLeft(extent).join(' ') + ',' + ol.extent.getBottomLeft(extent).join(' ') + '))';
    //     let params = {
    //         rows: 10,
    //         columns: 10,
    //         number: 1,
    //         rectangleWKT: wkt
    //     };
    //     let esc = encodeURIComponent;
    //     let queryParams = Object.keys(params).map(k => esc(k) + '=' + esc(params[k])).join('&');
    //     let url = 'http://39.98.160.148:6700/gis/api/web/gisextend/filterpoints?' + queryParams;
    //     fetch(url).then(response => response.json()).then(data => {
    //         source.clear();
    //         let points = data.data;
    //         let features = [];
    //         points.forEach(point => {
    //             let geometry = (new ol.format.WKT()).readGeometry(point, {
    //                 dataProjection: 'EPSG:4326',
    //                 featureProjection: 'EPSG:3857'
    //             });
    //             let feature = new ol.Feature({
    //                 geometry: geometry
    //             });
    //             features.push(feature);
    //         });
    //         source.addFeatures(features);
    //     });
    // });
</script>
</body>
</html>